@mixin main {
    @include font(18px, 24px); // можно добавлять жирность и др шрифт
    color: #fafafa;
}

@mixin second {
  @include font(16px, 24px);
  color: #fafafa;  
}

@mixin font($font-size: $font-size, $line-height: $line-height, $font-weight: null, $font-family: $basic-family) {
    font: $font-weight #{$font-size}/#{$line-height} $font-family;    
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content; 
    }
}
@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}