$bg-dark: #131417;
$bg-grey: #252830;
$main-hover: #eb5757;
$main-color: #fafafa;
$line: rgba(#ffffff, 0.1);
$basic-family: 'Roboto', Arial, Helvetica, sans-serif;
$desktop: 1024px;
$tablet: 768px;
$mobile: 375px;
