.header {
  background-color: $bg-dark;

  &__wrapper {
    margin: 0 auto;
    max-width: 1196px;
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__burger {
    display: none;
  }

  &__logo {
    cursor: pointer;
  }
}

@include tablet {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &__nav {
      position: fixed;
      top: 80px;
      bottom: 0;
      right: 0;
      width: 50%;
      background-color: $bg-dark;
      overflow: hidden;
      overflow-y: auto; // задаем вертикальную прокрутку для возможного переполнения блока
    }

    &__burger {
      display: block;
    }
  }
}

@include mobile {
  .header {
    &__wrapper {
      padding-left: 19px;
      padding-right: 19px;
    }

    &__nav {
      width: 100%;
    }

    &__phone {
      margin-left: auto;
    }
  }
}
