.nav {
  @include main;

  &__list {
    display: flex;
    list-style: none;
  }

  &__link {
    display: block;
    color: $main-color;
    text-decoration: none;
    padding: 8px 18px;

    &:hover {
      color: $main-hover;
    }

    // замена текста переполнения на многоточие
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__point:not(:last-child) {
    margin-right: 40px;
  }

  // желтый треугольник
  &__block-drop {
    display: flex;
    align-items: center;

    .nav__drop-third {
      margin-right: 18px;
    }
  }

  // поведение второго/третьего уровня меню на desktop
  &__list-wrap {
    position: absolute;
    transition: opacity 200ms ease, transform 200ms ease;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;

    // направляющие серые треугольники выпадающего меню
    &::before {
      content: '';
      border: 14px solid transparent;
      width: 0;
      height: 0;
      border-top: 0;
      border-bottom-color: $bg-grey;
      position: absolute;
      top: 6px;
      left: 47px;
    }

    &--second {
      padding-top: 20px;
      width: 320px;
    }

    &--third {
      width: calc(179+22+20)px;
      padding-left: 20px;
      left: 100%;
      bottom: 0;

      &::before {
        transform: rotate(-90deg);
        left: -1px;
        top: 46px;
      }
    }    
  }

  // оформление второго/третьего уровня меню на desktop
  &__list--second, &__list--third {
    display: block;
    background-color: $bg-grey;
    border-radius: 0 0 8px 8px;

    @include second;

    .nav__point {
      margin-right: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $line;
      }

      &:last-child {
        margin-right: 0;
        border-bottom: 1px solid inherit;
        border-radius: 0 0 8px 8px;
      }
    }
  }
}

// поведение второго/третьего уровня меню на desktop
@media (min-width: $desktop) {
  .nav {
    &__open-list {
      position: relative;
    
      &:hover > .nav__list-wrap {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    
      &:hover .nav__js-second .nav__drop {
        transform: rotate(180deg);
      }
    
      &:last-child:hover .nav__drop-third {
        transform: rotate(-90deg);
      }
    }

    &__list--second, &__list--third {
      .nav__link {
        padding-bottom: 7px;
  
        &:hover {
          background-color: $bg-dark;
          color: $main-color;
        }
      }
    }

    &__list--third {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      .nav__point:first-child .nav__link:hover { 
        border-radius: 8px 8px 0 0;    
      }  

      .nav__point:last-child .nav__link:hover { 
        border-radius: 0 0 8px 8px;    
      }  
    }

    &__list--second .nav__block-drop .nav__link {
      padding-right: 14px;
    }

    &__list--second {
      .nav__block-drop .nav__link:hover {
        border-radius: 0 0 8px 8px;
      }    
      
      .nav__block-drop:hover {
        background-color: $bg-dark;
        border-radius: 0 0 8px 8px;   
      }
    }
  }
}

@include tablet {
  .nav {
    &__list {
      display: block;
    }

    &__list &__point {
      margin-right: 0;
      border-bottom: 1px solid $bg-dark;
      background-color: $bg-grey;
    }

    &__list &__point:last-child {
      border-bottom: none;
    }

    &__list-wrap {
      position: static;
      opacity: 1;
      transform: none;
      pointer-events: auto;
      padding: 0;
      display: none;

      &--second, &--third {
        width: 100%;

        .nav__link {
          padding: 20px;
        }
      }

      &::before {
        display: none;
      }
    }

    &__link {
      padding: 20px;
      background-color: $bg-grey;

      &:hover {
        color: $main-color;
      }
    }

    &__block-drop .nav__link {
      padding-right: 9px;
    }

    &__list--second .nav__block-drop .nav__link {
      padding-right: 9px;
    }

    &__list--second, &__list--third {
      border-radius: 0;

      .nav__point {
        &:last-child {
          border-radius: 0;
        }
      }  
    }

    &__list-wrap .nav__list--second, &__list-wrap .nav__list--third {
      .nav__point {
        border-bottom-color: $bg-dark;
      }
    }

    // открытие/закрытие второго/третьего уровня меню
    &__list-wrap--second, &__list-wrap--third {
      &.js-active {
        display: block;
      }
    }   

    &__drop, &__drop-third {
      &.js-rotate {
        transform: rotate(180deg);
      }
    }   

    &__js-second, &__js-third {
      &.js-change {
        background-color: $bg-dark;
      }
    }

    &__js-link, &__js-link-th {
      &.js-change {
        background-color: $bg-dark;
      }
    }

    // открытие всего меню на планшете и меньше, при нажатии на бургер
    &-js {
      transition: opacity 1000ms ease, transform 500ms ease;
      opacity: 0;
      transform: translateX(100%);
      z-index: 2;

      &.js-active {
        opacity: 1;
        transform: translateX(0);
      }
    }
  } 
}
