.phone {
  padding: 8px;

  &__number {
    @include main;

    font-weight: 500;
    color: #ffffff;
    margin-left: 10px;

    @include mobile {
      display: none;
    }
  }

  &__active {
    text-decoration: none;
    display: flex;
    align-items: center;
  } 
}
