.phone {
  &__number {
    @include main;

    font-weight: 500;
    color: #ffffff;
  }

  &__active {
    text-decoration: none;
  }

  &__img {
    margin: 8px;
  }
}

@media (max-width: $mobile) {
  .phone {
    &__number {
      display: none;
    }
  }
}

@media (min-width: 376px) {
  .phone {
    &__active {
      display: flex;
      align-items: center;
    }

    &__number {
      margin-left: 10px;
    }
  }
}